*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: rgb(158, 30, 30);
}

.conteiner{
    display: flex;
    display: inline-block;

}

#header{
    height: 80px;
    width: 100%;
    background-color: white;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu{
    height: 35px;
    padding-left: 20px;
    padding-bottom: 8px;
}

#logo{
    height: 60px;
    padding-left: 250px;
    padding-top: 8px;
}

#busca{
    height: 40px;
    width: 400px;
    border-radius: 20px;
    outline: none;
    font-size: 20px;
    margin-right: 170px;
}

#entrar{
    height: 40px;
    padding-right: 50px;
}

#cadastrar{
    height: 40px;
    padding-right: 20px;
}

#main{
    display: flex;
    justify-content: center;
}

#imgsombra{
    display: flex;
    background-image: url(Rectangle\ 20.png);
    background-repeat: no-repeat;
    align-items: end;
    height: 400px;
    width: 700px;
    margin-top: 200px;
    border-radius: 30px;
    margin-left: 90px;
}

#nome{
    margin-bottom: 330px;
    margin-left: 140px;
    font-size: 20px;
    color: white;
}

#inputname{
    margin-bottom: 330px;
    margin-left: 50px;
    font-size: 20px;
    border-radius: 20px;
    color: black;
}

#email{
    margin-bottom: 280px;
    margin-left: -357px;
    font-size: 20px;
    color: white;
}

#inputemail{
    margin-bottom: 280px;
    margin-left: 50px;
    font-size: 20px;
    border-radius: 20px;
    color: black;
}

#usuario{
    margin-bottom: 235px;
    margin-left: -359px;
    font-size: 20px;
    color: white;
}

#inputusuario{
    margin-bottom: 235px;
    margin-left: 37px;
    font-size: 20px;
    border-radius: 20px;
    color: black;
}

#senha{
    margin-bottom: 190px;
    margin-left: -357px;
    font-size: 20px;
    color: white;
}

#inputsenha{
    margin-bottom: 190px;
    margin-left: 50px;
    font-size: 20px;
    border-radius: 20px;
    color: black;
}

#cadastrarbtn{
    margin-bottom: 100px;
    margin-left: -330px;
    font-size: 25px;
    color: white;
    text-decoration: white;
}

#entrar2{
    margin-bottom: 90px;
    margin-left: -140px;
    height: 45px;
}

#rodape{
    height: 80px;
    width: 100%;
    background-color: black;
    margin-top: 185px;
    display: flex;
    grid-template-columns: 1fr 1fr;
}

#rodapefontnome{
    font-size: 20px;
    color: white;
    margin-left: 650px;
}

#rodapefontturma{
    font-size: 20px;
    color: white;
    margin-left: 685px;
    margin-top: 25px;
}

#rodapefontnum{
    font-size: 20px;
    color: white;
    margin-left: 390px;
    
}

#rodapefontemail{
    font-size: 20px;
    color: white;
    margin-left: 335px;
    margin-top: 25px;
    
}


